html {
  scroll-behavior: smooth;
}
body{
  width: 100%;
  overflow-x: hidden;
  border: 3px solid red;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
  }
  .container__app{
    overflow-y: hidden;
    border: 1px solid red;
  }
  .layout{
    width: 100vw;
    background: linear-gradient(rgb(114, 0, 231) 60%, rgba(119, 0, 179, 0) 100%);
    height: 619px;
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 75px;
    border: 5px solid red;
  }
  .fondo__nav{
    background: rgb(104, 4, 204);
    height: 60px;
    width: 100%;
    position: static;
    top: 0;
  }
  
  body{
    background-color: rgb(37, 46, 66);
    color: rgb(245, 245, 245);
  
  }

  


  






.proyectos{
    width: 100%;
    height: auto;
}




.layout__social a {
  color: inherit;
  text-decoration: none;
}

.footer{
  background-color: rgb(103, 22, 184);
  height: 150px;

}


.navBarMobileOff{
  display: none;
}






  
